
block footer
    div.row.row-marg.footer-content

        div.tencol.footer-inner-content
            p
                | Copyright to Blablabla. All rights reserved for future.

        div.twocol.last
            div.footer-inner-content.no-marg
                div.threecol.square.tile.accent-color-1

                div.threecol.square.tile.accent-color-2

                div.threecol.square.tile.accent-color-3

                div.threecol.last.square.tile.accent-color-4