
block navigation
    .row.row-marg
        header.fourcol.box-fill.tile.accent-color-1
            h1 My Site
        navigation
            ul
                li.twocol.square.tile.accent-color-1
                    a(href='/').tile-textbox Start
                li.twocol.square.tile.accent-color-1
                    a(href='/blog').tile-textbox Blog
                li.twocol.square.tile.accent-color-1
                    a(href='#').tile-textbox About me
                li.twocol.last.square.tile.accent-color-1
                    a(href='#').tile-textbox Anything
