extends layout

block content
    .eightcol
        h2
            | Vivamus hendrerit arcu sed erat molestie
        p
            | Tjenare

block sidebar
    .fourcol.last.accent-color-4
                span
                    | Det här händer idag.