extends layout

block content
    .eightcol
        .row
            .twelvecol.last
                each post in articles
                    !=post.text

block sidebar
    .fourcol.last.accent-color-4
                span
                    | Det här händer idag.