extends layout

block content
    .fourcol.square.tile.accent-color-1
        h2.tile-textbox
            | Vivamus hendrerit arcu sed erat molestie

    .fourcol.square.tile.accent-color-1
        h2.tile-textbox
            | Donec congue lacinia dui, a porttitor

block sidebar
    .fourcol.last
        .row
            .sixcol.square.tile.accent-color-1
                span.tile-textbox
                    | Det här händer idag.

            .sixcol.last.square.tile.accent-color-2
                span.tile-textbox
                    | Det här händer idag.
        .row.row-marg
            .sixcol.square.tile.accent-color-3
                span.tile-textbox
                    | Det här händer idag.
            .sixcol.last.square.tile.accent-color-4
                span.tile-textbox
                    | Det här händer idag.
