/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

body 
    color black
    font-size 100%
    font-family "Open Sans"

p 
    margin 0 0 1.5em 0
    font-size 1em /* 16px */
    line-height 1.5em /* 24px */

.p-top-marg 
    margin-top 1.5em

h1 
    margin-top 0.9231em
    margin-bottom 0em
    font-size 1.625em /* 26px */
    line-height 1.8462em /* 48px */

h2 
    margin-top 1em
    margin-bottom 0em
    font-size 1.5em /* 24px */
    line-height 1em /* 24px */

h3 
    margin-top 1.0909em
    margin-bottom 0em
    font-size 1.375em /* 22px */
    line-height 1.0909em /* 24px */

h4 
    margin-top 1.2em
    margin-bottom 0em
    font-size 1.25em /* 20px */
    line-height 1.2em /* 24px */

h5 
    margin-top 1.3333em
    margin-bottom 0em
    font-size 1.125em /* 18px */
    line-height 1.3333em /* 24px */

.accent-color-1 
    background #0072C6

.accent-color-2 
    background #262960

.accent-color-3 
    background #CD7A33

.accent-color-4 
    background #F95f19

.square 
    height 0

.tile 
    position relative

    .tile-textbox
        position absolute
        bottom 1em
        left 1em
        right 1em
        color white

.box-fill 
    margin-bottom -100%
    padding-bottom 100%

.body-container
    margin 0 auto
    min-width 755px
    max-width 1140px
    width 100%

.container
    margin 0 20px

.row 
    overflow hidden
    margin 0 auto

    li
        list-style-type none

.row-marg 
    margin-top 3.8%

.no-marg 
    margin 0

.no-top-marg 
    margin-top 0

.no-bottom-marg 
    margin-bottom 0

.onecol
.twocol
.threecol
.fourcol
.fivecol
.sixcol
.sevencol
.eightcol
.ninecol
.tencol
.elevencol
    float left
    margin-right 3.8%
    min-height 1px

.row
    .onecol
        width 4.85%

    .onecol.square
        padding-bottom 4.85%

    .twocol
        width 13.45%

    .twocol.square
        padding-bottom 13.45%

    .twocol-box-fill
        padding-bottom 13.45%
        height 0

    .threecol
        width 22.05%

    .threecol.square
        padding-bottom 22.05%

    .fourcol
        width 30.75%

    .fourcol.square
        padding-bottom 30.75%

    .fivecol
        width 39.45%

    .fivecol.square
        padding-bottom 39.45%
    
    .sixcol
        width 48%

    .sixcol.square
        padding-bottom 48%
    
    .sevencol
        width 56.75%

    .sevencol.square
        padding-bottom 56.75%
    
    .eightcol
        width 65.4%

    .eightcol.square
        padding-bottom 65.4%
    
    .ninecol
        width 74.05%

    .ninecol.square
        padding-bottom 74.05%
    
    .tencol
        width 82.7%

    .tencol.square
        padding-bottom 82.7%
    
    .elevencol
        width 91.35%

    .elevencol.square
        padding-bottom 91.35%

    .twelvecol
        float left
        width 100%

    .twelvecol.square
        padding-bottom 100%

    .last
        margin-right 0px

img
object
embed
    max-width 100%

img 
    height auto

/* ==================================================================================================================== */
/*                                                  Navigation                                                                */
/* ==================================================================================================================== */

.navigation
    a
        color white

/* ==================================================================================================================== */
/*                                                  BLOG                                                                */
/* ==================================================================================================================== */

.blog-date-text 
    color white

.blog-item 
    margin-bottom 3.8%
    color black

/* ==================================================================================================================== */
/*                                                  FOOTER                                                              */
/* ==================================================================================================================== */

.footer-content 
    border-top 1px solid #d9d9d9
    color grey

.footer-inner-content 
    padding 20px 0

    p
        font-size 0.8em
    